# Postgres
DATABASE_URL=postgresql://user:pass@localhost:5432/app_database
POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=app_database

# JWT
JWT_SECRET="put_a_very_long_random_string_here_1234567890"