/* src/index.css */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  /* Podstawowa, ładna czcionka */
  background-color: #f5f5f5;
  /* Delikatnie szare tło całej strony */
}

#root {
  width: 100%;
  max-width: 100%;
  /* Usuwa domyślną blokadę szerokości Vite */
  margin: 0;
  padding: 0;
}